.explore
{
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .bold-text
    {
        margin-top: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .foods
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 1.4rem;
        .card
        {
            padding: 20px;
            border: 1px solid #615a59;
            border-radius: 10px;
            box-shadow: 4px 4px 4px 4px rgb(221, 221, 221);
            .card-details
            {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 6px;
                .name-text
                {
                    font-size: 20px;
                    @media screen and (max-width: 425px){
                        font-size: 18px;
                    }
                }
                .reviews
                {
                    cursor: default;
                    color: yellow;
                }
                .price-text
                {
                    font-size: 22px;
                    color: goldenrod;
                    @media screen and (max-width: 425px){
                        font-size: 18px;
                    }
                }
                .cals-text
                {
                    font-size: 20px;
                    color: gray;
                    @media screen and (max-width: 425px){
                        font-size: 18px;
                    }
                }
            }
            img
            {
                width: 220px;
                height: 220px;
                object-fit: cover;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}