.footer
{   
    min-height: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background: #222;
    width: 100%;
    position: relative;

    
    .small-text
    {
        color: #fff!important;
    }

    @media screen and (max-width: 475px)
    {
        flex-direction: column;
        gap: 30px;
        overflow: hidden;
        min-height: 100vh;
    }
    .address
    {   
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        .small-text
        {
            color: #fff!important;
        }

        .logo
        {
            img
            {
                width: 57px;
                height: 57px;
                object-fit: contain;
            }
        }
    }
    .links
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        a
        {
            text-decoration: none;
            color: #fff!important;
        }
    }
    .contact
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 14px;
        color: #fff!important;

        label
        {
            font-size: 18px;
            color: #fff!important;
        }
        textarea
        {
            resize: none;
            font-size: 18px;
            outline: none;
            padding: 10px;
            border-radius: 10px;
        }
        input
        {
            height: 35px;
            width: 295px;
            font-size: 18px;
            outline: none;
            padding: 10px;
            border-radius: 20px;
        }
        .contact-btn
        {
            padding: 10px 20px;
            background-color: rgb(255, 50, 50);
            color: #fff;
            cursor: pointer;
            border-radius: 10px;
            border: none;
        }
    }
    
}